<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>

<body>
    Welcome {{recruiter.recruiter_name}} <br>

    <a href="{% url 'Recruiter:Myprofile' %}">My Profile</a><br>
    <a href="{% url 'Recruiter:Myprofile' %}">MY PROFILE</a><br>
    <a href="{% url 'Recruiter:Job' %}"> ADD JOB</a><br>
    <a href="{% url 'Recruiter:Viewrequest' %}">VIEW REQUEST</a><br>
    <a href="{% url 'Recruiter:logout' %}">Logout</a>
</body>

</html>