<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    Welcome {{user.user_name}} <br>

            <a href="{% url 'User:Myprofile' %}">MyProfile</a><br>
            <a href="{% url 'User:Notes' %}">ADD NOTES</a><br>
            <a href="{% url 'User:Viewjob' %}">VIEW JOB</a><br>
            <a href="{% url 'User:Myrequest' %}">MY REQUEST</a><br>
            <a href="{% url 'User:Viewnotes' %}">VIEW NOTES</a><br>
            <a href="{% url 'User:viewexam' %}">VIEW EXAMINATION</a><br>
            <a href="{% url 'User:Complaint' %}">COMPLAINT</a><br>
            <a href="{% url 'User:logout' %}">Logout</a>
</body>
</html>