<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    Welcome {{user.user_name}}

    <table>
        <tr>
            <td><a href="{% url 'User:Myprofile' %}">MyProfile</a></td>
            <td><a href="{% url 'User:Notes' %}"></a>ADD NOTES</td>
            <td><a href="{% url 'User:Viewjob' %}"></a>VIEW JOB</td>
            <td><a href="{% url 'User:Myrequest' %}"></a>MY REQUEST</td>
            <td><a href="{% url 'User:Viewnotes' %}">VIEW NOTES</a></td>
        </tr>
        
    </table>
</body>
</html>