<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examination</title>
</head>
<body>
    <table align="center" border="1">
        <tr>
            <td>SI NO</td>
            <td>NAME</td>
            <td>MARK</td>
            <td>EXAM TYPE</td>
            <td>LEVEL</td>
            <td>ACTION</td>
        </tr>
        {% for i in exam %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.exam_name}}</td>
            <td>{{i.exam_mark}}</td>
            <td>{{i.examtype.examtype_name}}</td>
            <td>{{i.level.level_name}}</td>
            <td><a href="{% url 'User:Viewquestion' i.id %}">Questions</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>