<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage </title>
</head>
<body>
    
    Welcome ..{{Admin.Admin_name}} <br>    
            <a href="{% url 'Admin:District' %}">DISTRICT</a><br>
            <a href="{% url 'Admin:Examination' %}">EXAMINATION</a><br>
            <a href="{% url 'Admin:Examtype' %}">EXAM TYPE</a><br>
            <a href="{% url 'Admin:Jobcategory' %}">JOB CATEGORY</a><br>
            <a href="{% url 'Admin:Jobtype' %}">JOB TYPE</a><br>
            <a href="{% url 'Admin:Level' %}"> EXAM LEVEL</a><br>
            <a href="{% url 'Admin:Notes' %}">NOTES</a><br>
            <a href="{% url 'Admin:Place' %}">PLACE</a><br>
            <a href="{% url 'Admin:Recruiterverification' %}">RECRUITER VERIFICATION</a><br>
            <a href="{% url 'Admin:Userlist' %}">USER LIST</a><br>
            <a href="{% url 'Admin:Viewnotes' %}">VIEW NOTES</a><br>
            <a href="{% url 'Admin:logout' %}">Logout</a><br>
</body>
</html>