{% extends 'Admin/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Category</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1" align="center">
            <tr>
                <td>Job Category</td>
                <td><input type="text" name="txt_jobcat" id="txt_jobcat" required value="{{editdata.jobcategory_name}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    <table align="center" border="1">
        <tr>
            <td>SI NO</td>
            <td>Job Category</td>
            <td>Action</td>
        </tr>
        {% for i in jobcategory %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.jobcategory_name}}</td>
            <td><a href="{% url 'Admin:deljc' i.id %}">DELETE</a>/<a href="{% url 'Admin:editjc' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% if msg %}
    <script>
        alert("{{msg}}");
        window.location="{% url 'Admin:Jobcategory' %}";
    </script>
{% endif %}
    {% endblock %}