{% extends 'Admin/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <table align="center" border="1">
        <tr>
            <td>SI NO</td>
            <td>User Name</td>
            <td>Email</td>
            <td>Title</td>
            <td>Details</td>
            <td>File</td>
            <td>Exam type</td>
            <td>Action</td>
        </tr>
        {% for i in notes %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.user_name}}</td>
            <td>{{i.user.user_email}}</td>
            <td>{{i.notes_title}}</td>
            <td>{{i.notes_details}}</td>
            <td> <a href="{{i.notes_file.url }}">View File</a></td>
            <td>{{i.examtype.examtype_name}}</td>
            <td><a href="{% url 'Admin:acceptnotes' i.id %}">Verify</a>|<a href="{% url 'Admin:rejectnotes' i.id %}">Reject</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location = "{% url 'Admin:Viewnotes' %}";
</script>
{% endif %}
    {% endblock %}