{% extends 'Admin/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>SI NO</td>
            <td>CONTENT</td>
            <td>DATE</td>
            <td>USER</td>
        </tr>
        {% for i in feed %}
    
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.feedback_content}}</td>
            <td>{{i.feedback_date}}</td>
            <td>{{i.user.user_name}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
    {% endblock %}